<div class="single_food_item media">
    <img src="assets/img/food_menu/single_food_1.png" class="mr-3" alt="...">
    <div class="media-body align-self-center">
        <h3>Name {{platInput.name}}</h3>
        <p>Description: {{platInput.description}}</p>
        <p *ngIf="platInput.price" [ngStyle]="{color: priceColor(platInput.price)}">
            Price: {{platInput.price}}
        </p>
        <p *ngIf="platInput.note">
            Note:
            <span [ngClass]="{
                    chaabi: noteStyle(platInput.note)=='2', 
                    family: noteStyle(platInput.note)=='1',
                    fiance: noteStyle(platInput.note)=='0' 
                }">
                {{platInput.note}}
            </span>
        </p>

    </div>
</div>