<div class="single_blog_item">
    <div class="single_blog_img">
        <img src="assets/img/food_item/food_item_1.png" alt="">
    </div>
    <div class="single_blog_text">
        <h3>{{platInput?.name}}</h3>
        <p>{{platInput?.price}}</p>
        <p>{{platInput?.description}}</p>
        <!-- el pt d'interrogation: kin enahiwha twali tjina erreur ukolk el 
        platInput mahouch defini alech? ala khater el affichage asrae mel envoi w el reception mtae request :
    maghir ? : tji erreur w baed yji platinput ysir affichage w toked el errere
bech nahina el erreur :kaedin nkoulou je platInpt? kin ui affichi sinn rith  -->
        <a href="#" class="btn_3">Read More <img src="assets/img/icon/left_2.svg" alt=""></a>
    </div>
</div>